<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/navbar.css">
    <link rel="stylesheet" href="/stylesheets/table.css">
    <title> Shake On It - Landing </title>
</head>

<body>
    <h1> LANDING PAGE </h1>
    <nav>
        <a href="/landing"> Landing </a>
        <a href="/profile"> Profile </a>
        <a href="/friends"> View / Add Friends </a>
        <a href="/creategame"> Create Game </a>
        <a href="/pending"> Game Requests </a>
        <a href="/auth/logout"> Log Out </a>
    </nav>

    <main>
        <section class="games">
            <table>
                <thead>
                    <tr>
                        <th>Game Title</th>
                        <th>Description</th>
                        <th>Wager</th>
                        <th>Expiration</th>
                        <th>Player 1</th>
                        <th>Player 2</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <% acceptedGamesData.forEach((game)=> { %>
                        <tr>
                            <td>
                                <%= game.name %>
                            </td>
                            <td>
                                <%= game.description %>
                            </td>
                            <td>
                                <%= game.wager %>
                            </td>
                            <td>
                                <%= game.expiration %>
                            </td>
                            <td>
                                <%= game.player1 %>
                            </td>
                            <td>
                                <%= game.player2 %>
                            </td>
                            <td>
                                <%= game.status %>
                            </td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        </section>
    </main>
</body>

</html>